/* You can add global styles to this file, and also import other style files */

/* Importing the Montserrat font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
/* Importing the font-awesome library. */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* Setting the font for the entire page to Montserrat. */
body {
    font-family: 'Montserrat', sans-serif !important;
}

/* Making the image responsive. */
.img-fluid {
    width: 100% !important;
    height: auto !important;
    display: block !important;
}