<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<!-- The footer of the page. -->
<section class="d-flex justify-content-between border-5 border-top border-primary bg-dark text-white">
    <div class="p-4">
        <!-- A span tag that contains the copyright information. -->
    <span>© 2025 | Aplicación Usuarios - Proyecto UNIR</span>
    </div>
    <div class="icons">
        <!-- A link to my Linkedin profile. -->
        <a href="https://www.linkedin.com/in/tu-perfil" target="_blank" title="Linkedin"
            class="m-4 text-reset icon icon--linkedin">
            <i class="ri-linkedin-line w-50"></i>
        </a>
        <a href="https://github.com/tu-usuario" target="_blank" title="Github"
            class="m-4 text-reset icon icon--github">
            <i class="ri-github-line"></i>
        </a>
    </div>
</section>