<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2 class="mb-4">{{ formTitle }}</h2>
            <form [formGroup]="userForm" (ngSubmit)="submitForm()">
                <div class="mb-3">
                    <label for="first_name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="first_name" formControlName="first_name">
                    <div class="form-text text-danger" *ngIf="hasError('first_name', 'required')">El nombre es obligatorio.</div>
                    <div class="form-text text-danger" *ngIf="hasError('first_name', 'minlength')">Debe tener al menos 2 caracteres.</div>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name">
                    <div class="form-text text-danger" *ngIf="hasError('last_name', 'required')">El apellido es obligatorio.</div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" formControlName="username">
                    <div class="form-text text-danger" *ngIf="hasError('username', 'required')">El nombre de usuario es obligatorio.</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div class="form-text text-danger" *ngIf="hasError('email', 'required')">El email es obligatorio.</div>
                    <div class="form-text text-danger" *ngIf="hasError('email', 'email')">El formato del email no es válido.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">URL de la Imagen</label>
                    <input type="text" class="form-control" id="image" formControlName="image">
                    <div class="form-text text-danger" *ngIf="hasError('image', 'required')">La URL de la imagen es obligatoria.</div>
                </div>
                <button type="submit" class="btn btn-primary w-100" [disabled]="userForm.invalid">{{ buttonText }}</button>
            </form>
        </div>
    </div>
</div>