/* Making the card bigger when you hover over it. */
.card:hover {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: 1s ease;
}

/* Making the button have a black border when you hover over it. */
.btn {
    transition: 1s ease;
}

.btn:hover {
    border: solid 1px #000000
}